<br>
<% @picture.each_slice(3) do |pictures| %>
  <div class="row">
    <% pictures.each do |picture| %>
      <div class="large-4 columns">
        <div class="picture">
          <div class="image_wrapper">
            <%= link_to picture do %>
              <%= image_tag picture.image.url(:thumb) %>
              <h2> <%= link_to picture.title, picture %></h2>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>